<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/register.css">
        <link rel="stylesheet" href="/css/normalize.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    </head>
    <body>
        <header>
            <div class="top-bar">
                    <div class="logo">
                        <img src= "/images/logo-mercado-liebre.svg" alt = "Aquí va el logo">
                    </div>
                    <div class="search-bar">
                        <form action="#" method="GET">
                            <input type="text" name="search-bar" class="search-bar-text" placeholder="Buscar productos, marcas">
                            <button class="search-bar-button" name="buscar" type="submit"><i class="fas fa-search"></i></button>
                        </form>
                    </div>
                <p class="copy-header">
                    <i class="fas fa-hand-holding-usd"></i>
                    Compá en cuotas y sin tarjeta de crédito
                </p>
            </div>
            <nav class="nav-bar">
                <ul class="site-bar">
                    <li><a href= "#" >Ofertas</a></li>
                    <li><a href= "#" >Tiendas Oficiales</a></li>
                    <li><a href= "#" >Vender</a></li>
                    <li><a href= "#" >Ayuda</a></li>
                </ul>
                <ul class="login-bar">
                    <li><a href= "/register" >Creá tu cuenta</a><i class="far fa-id-card"></i></li>
                    <li><a href= "/login" >Ingresá</a><i class="fas fa-sign-in-alt"></i></li> 
                    <li><a href= "#" >Mis compras</a><i class="fas fa-shopping-basket"></i></li>
                </ul>
            </nav>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </header>
        <main>
            <form action="/" method="GET">
                <div class="control-formulario">
                    <input type="text" name="nombre" id="nombre" placeholder="Nombre y apellido" class="control">
                </div>
                <div class="control-formulario">
                    <input type="text" name="usuario" id="usuario" placeholder="Nombre de usuario" class="control">
                </div>
                <div class="control-formulario">
                    <input type="email" name="email" id="email" placeholder="E-mail" class="control">
                </div>
                <div class="control-formulario">
                    <strong>Fecha de nacimiento</strong>
                    <input type="date" name="fecha" id="fecha" class="control">
                </div>
                <div class="control-formulario">
                    <input type="text" name="domicilio" id="domicilio" placeholder="Domicilio" class="control">
                </div>
                <div class="control-formulario">
                    <strong>Perfil de usuario</strong>
                    <input type="radio" name="tipo" id="comprador" value="buy"><label class="control-label" for="comprador">Comprador</label>
                    <input type="radio" name="tipo" id="vendedor" value="sell"><label class="control-label" for="vendedor">Vendedor</label>
                </div>
                <div class="control-formulario">
                    <strong>Intereses</strong>
                    <ul>
                        <li><input type="checkbox" name="interes" id="electro" value="electro"><label for="electro">Electro</label></li>
                        <li><input type="checkbox" name="interes" id="moda" value="moda"><label for="moda">Moda</label></li>
                        <li><input type="checkbox" name="interes" id="hogar" value="hogar"><label for="hogar">Hogar</label></li>
                        <li><input type="checkbox" name="interes" id="jugueteria" value="jugueteria"><label for="jugueteria">Juguetería</label></li>
                        <li><input type="checkbox" name="interes" id="vida-sana" value="vida-sana"><label for="vida-sana">Vida sana</label></li>
                    </ul>
                </div>
                <div class="control-formulario">
                    <strong>Elegir foto</strong>
                    <input type="file" name="avatar" accept=".jpg" class="control">
                </div>
                <div class="control-formulario">
                    <input type="password" name="contraseña" id="contraseña" placeholder="Contraseña" class="control">
                </div>
                <div class="control-formulario">
                    <input type="password" name="confirmar-contraseña" id="confirmar-contraseña" placeholder="Confirmar contraseña" class="control">
                </div>
                <div class="buttons">
                    <a href="#"><button class="button">Volver</button></a>
                    <input type="submit" value="Enviar" class="button">
                </div>
            </form>
        </main>
        <footer>
            <div class="footer">
                <article>
                    <div class="footer-icon">
                        <i class="fas fa-credit-card"></i>
                    </div>
                    <strong>Pagá con tarjeta o en efectivo</strong>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
                </article>
                <article>
                    <div class="footer-icon">
                        <i class="fas fa-gift"></i>
                    </div>
                    <strong>Envío gratis desde $ 2.500</strong>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos</p>
                </article>
                <article>
                    <div class="footer-icon">
                        <i class="fas fa-user-shield"></i>
                    </div>
                    <strong>Seguridad, de principio a fin</strong>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
                </article>
            </div>
            <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </footer>
    </body>
</html>